.banner-image {
  position: relative;
  left: 16%;
  padding-top: 25px;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 180px;
  left: 450px;
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.discound {
  position: relative;
  left: 18%;
  padding-top: 25px;
  position: relative;
  left: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #F00;
  text-align: center;
}

.new-year {
  position: relative;
  left: 30%;
  padding-top: 25px;
  padding-bottom: 20px;
}

.vector {
  position: relative;
  left: 16%;
  padding-top: 50px;
}

.banner-welcome {
  color: #FFF;
  position: absolute;
  top: 140px;
  left: 150px;
  color: #FFF;
  font-size: 39px;
  font-weight: 400;
  font-weight: 900;
}

#midnight {
  position: relative;
  bottom: 60px;
}

#fireworks {
  font-size: 20px;
  position: relative;
  bottom: 80px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
}

.btn {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

.location {
  position: relative;
  left: 18%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  left: 40px;
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-align: center;
  background-color: antiquewhite;
  margin-top: 80px;
  margin-left: 255px;
  margin-right: 300px;
}

#btn-join {
  padding: 10px 27px;
  color: white;
  font-weight: 200px;
  border-radius: 8px;
  background: #F00;
}

.txt-color {
  color: red;
}

.offer {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  left: 40px;
  color: black;
  background-color: antiquewhite;
  margin-top: 80px;
  margin-left: 255px;
  margin-right: 300px;
}

.dolor {
  line-height: 300px;
}

.line {
  margin-top: -10px;
}

.circle-img {
  position: relative;
  left: 41%;
  padding-top: 200px;
  position: relative;
}

.offer-txt {
  position: absolute;
  top: 180px;
  left: -477px;
  font-family: inter;
  font-size: 25px;
  font-weight: 800px;
  padding-top: 65px;
  color: #F00;
}

#coming {
  font-size: 55px;
  font-weight: 800px;
  margin-top: -10px;
  color: black;
}

.amet {
  margin-top: -30px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
}

.year {
  position: relative;
  left: 100%;
  padding-left: 470px;
  margin-top: -250px;
}

.sit-amet {
  position: relative;
  left: 183%;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  margin-top: -15px;
}

.what {
  position: relative;
  left: 850px;
  padding-top: 80px;
}

.nopng {
  position: relative;
  left: 1035px;
}

.noway {
  position: relative;
  left: 850px;
  padding-top: 150px;
  color: #070211;
  font-family: Inter;
  font-weight: 80px;
}

#sale{
  position: relative;
  left: 753px;
  padding-top: 0px;
  color: #070211;
  font-family: Inter;
  font-size: 50px;
  font-weight: 80px;
}

.lorem{
  position: relative;
  left: 753px;
  text-align: center;
  margin-left: -78%;
}

.hdiscound{
position: relative;
left: 65%;
padding-top: 30px;
}

#middle{
  position: absolute;
  position: relative;
  right: 30%;
}
#rec{
  position: absolute;
  position: relative;
  right: 47%;
  margin-top: -5px;
}

#boxx{
  position: absolute;
  position: relative;
  right: 48%;
  margin-top: -700px;
  
  
}